@font-face {
    font-family: 'phudublack';
    src:url('../fonts/Phudu-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    --red: #7D1100;
    --blue: #0E1147;
    --beige: #F4E6BD;
    --light-blue: #3E416C;
    --dark-red: #5E0D00;

    --background-color: var(--beige);
    --foreground-color: var(--red);
    --accent-color-1: var(--dark-red);
    --accent-color-2: var(--blue);
    --accent-color-3: var(--light-blue);


    --font-light: 'poppinslight';
    --font-regular: 'poppinsregular';
    --font-bold: 'phudublack', var(--font-regular);

    --rhythm: 2rem;

}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--foreground-color);
    font-family: var(--font-regular);

    display: grid;
    grid-template-columns: 1rem repeat(5, 1fr) 1rem;
    grid-template-rows: 5rem repeat(5, auto) 2rem;
    grid-column-gap: 1rem;

    color: var(--background-color);


}

header {
    background-color: var(--foreground-color);
    color: var(--background-color);

    grid-area: 1 / 1 / span 2 / span 7;

    display: grid;
    grid-template-rows: 56px 1fr;
    grid-template-columns: 1rem repeat(4, 1fr) 1rem;
    grid-column-gap: 1rem;
}

/* nav bar and menu */
nav {
    grid-column: 1/span 6;
    display: flex;
    margin-right: 1.5rem;
    justify-content: end;
    align-items: center;
}

.btn_menu div {
    height: 5px;
    width: 35px;
    background-color: var(--background-color);
    margin: 3px 0;
    transition: 0.3s;
}

button {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    z-index: 60;
}

.btn_menu.change {
    .bar1 {
        transform: translate(0, 9px) rotate(-45deg);
    }
    
    .bar2 {opacity: 0;}
    
    .bar3 {
        transform: translate(0, -7px) rotate(45deg);
    }
}

.navbar {
    display: none;
}


.menu {
    background-color: var(--foreground-color);
    grid-column: 1/8;
    grid-row-start: 1;
    text-align: center;
    font-family: var(--font-bold);
    position: fixed;
    width: 100vw;

    transform: translateX(100vw);
    transition: transform 225ms ease-in-out;
    z-index: 50;
    right: 0;
    top: 0;
    height: 100vh;

    
    ul {
        margin: 0;
        padding: 0;
        height: 100%;
        /* transform: translateY(-56px); */
        
        display: flex;
        flex-direction: column;
        font-size: 3rem;
        justify-content: center;

    }

    ul li {
        list-style-type: none;
        margin: 1rem 0;

        a {
            text-decoration: none;
            color: var(--background-color);
        }

        a:visited {
            color: var(--background-color);
        }

        a:active {
            text-decoration:underline;
        }

        a:active {
            text-decoration: underline;
        }
    }
}


.menu.open {
    transform: none;
}

/* intro */
strong {
    font-family: var(--font-bold);
    font-size: 3rem;
    align-self: center;
    /* filter: drop-shadow(3px 3px 0px --accent-color-1); */
    grid-column: 2/span 4;
    grid-row: 2/3;
    text-shadow: 9px 0px var(--accent-color-1);
    text-align: center;
    margin-top: 1rem;
}

img.sticker {
    grid-row-start: 11;
    grid-column: 2/span 5;
    margin: 1rem 0;
    width: 75%;
    justify-self: center;
}

main {
    grid-column: 2/7;
    grid-row-start: 3;
    margin-top: 2rem;

    display: grid;
    grid-column: 1fr;
    align-items: center;

    /* border: 5px solid black; */
    /* border-radius: 20px;
    padding: 1rem;
    background-color: var(--accent-color-1); */
}

.profile {
    width: 100%;
    border: 5px solid var(--accent-color-1);
    box-shadow: 5px 5px var(--accent-color-1);
    border-radius: 15px;

}

.introduction {
    line-height: 1.5rem;
    margin-top: 2rem;
}



/* img.sleeping {
    display: absolute;
    height: 100px;
    width: 75%;
    grid-row-start: 7;
    grid-column-end: span 4;
 } */

/* footer */
footer {
    font-family: var(--font-bold);
    font-size: 3rem;
    color: var(--background-color);

    grid-row: 4/5;
    grid-column: 2/span 5;

    display: grid;
    justify-items: center;

    p {
        margin: 2rem 0 1rem 0;
        text-align: center;
    }
}

.social-icon a {
    text-decoration: none;

    img {
        width: 43px;
    }

}

.social {
    display: none;
}

@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 2rem repeat(6, 1fr) 2rem;
        /* grid-template-rows: repeat(4, 5rem) auto auto auto auto auto 2rem; */
        grid-column-gap: 2rem;
    }

    header {
        grid-area: 1 / 1 / span 2/ span 8;
        grid-template-columns: 2rem repeat(6, 1fr) 2rem;
        grid-template-rows: 96px auto auto;
        grid-column-gap: 2rem;

        background-color: var(--foreground-color);
    }

    /* nav bar */
    nav {
        grid-column: 1/span 8;
        margin-right: 4rem;
    }

    .btn_menu {
        display: none;
    }

    .navbar {
        display: block;
    }

    .navbar ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;

        font-weight: 500;
        font-size: 1.5rem;
        font-family: var(--font-bold);
    }

    .navbar ul li {
        margin: 0 2rem;
    }

    .navbar ul li a:visited{
        color: var(--background-color);
    }

    .navbar ul li a {
        padding: 0.5rem;
        color: var(--foreground-color);
        text-decoration: none;
        border: 3px solid transparent;
        /* transition: ease-in-out 0.2s; */
    }

    .navbar ul li a:active {
        text-decoration: underline;
    }


    .menu {
        display: none;
    }

    strong {
        grid-column: 2/ span 6;
        font-size: 6rem;
    }

    main {
        grid-column-end: span 6;
        
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;

        img {
            width: 50%;
        }

        p {
            margin: 0;
        }
    }
    
    footer {
        /* grid-column: 2/ span 6; */
        font-size: 6rem;
        grid-column: 2/8;
    }

    .social-icon {
        display: none;
    }

    .social {
        display: block;
    }

    .social ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    .social ul li{
        list-style-type: none;
        font-size: 1.25rem;
        margin: 0 1.5rem;

    }

    .social ul li a {
        text-decoration: none;
        color: var(--background-color);
    }
}

@media screen and (min-width: 1200px) {
    body {
        grid-template-columns: 7rem repeat(12, 1fr) 7rem;
        grid-template-rows: repeat(1, 8rem) repeat(3, auto) 2rem;
        grid-column-gap: 2rem;
    }

    header {
        grid-column: 1/15;
        grid-template-rows: 96px;

        grid-template-columns: 7rem repeat(12, 1fr) 7rem;
    }
    
    strong {
        font-size: 8rem;
        grid-column: 3/13;

    }

    button.btn_menu {
        display: none;
    }

    .navbar {
        display: contents;
    }

    nav {
        grid-column: 1/span 14;
        margin-right: 7rem;
    }

    .intro {
        grid-column: 3/10;
        
    }

    .pic {
        width: 85%;
        align-self: end;
        grid-column: 10/span 4;
        grid-row-start: 2;
    }

    h2 {
        grid-column: 3/ span 5;
    }

    .navbar ul li a:hover {
        /* border: 3px solid var(--background-color); */
        text-shadow: 5px 5px var(--accent-color-1);
        position: relative;
        right: 3px;
        bottom: 3px;
    }

    .navbar ul li a:active{
        text-decoration: none;
    }

    .card {
        grid-column: 3/span 5;
        width: 100%;
        padding: 0;
        position: relative;
        display: flex;
        aspect-ratio: 4/3;

        .content-mobile {
            display: none;
        }

        transition: 3s ease-in;
    }
    
    .content-desktop.active{
        display: flex;
        z-index: 20;

        position: absolute;
        width: 100%;
        height: 100%;

        color: var(--background-color);
        background: rgba(125, 17, 0, 0.7);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;    
        flex-direction: column;

        h3 {
            font-size: 2rem;
            font-family: var(--font-bold);
        }
    }

    main {
        grid-column: 3/13;

        grid-template-columns: 2fr 3r;
        grid-gap: 4rem;

    }

    .introduction {
        font-size: 1.25rem;
        line-height: 2rem;
        font-family: var(--font-light);
    }

    footer {
        grid-column: 2/14;
        grid-template-columns: 3fr 2fr;

        align-items: center;
    }

    .profile:hover {
        box-shadow: none;
        transform: translate(5px, 5px);
    }

    footer div{
        font-size: 7rem;
        margin: 0;
        text-align: left;
    }

    .social ul {
        align-items: center;
    }

    .social ul li a {
        padding: 0.5rem;
        border: 3px solid transparent;
        transition: ease-in .3s;
    }

    .social ul li a:hover {
        border-bottom: 3px solid var(--background-color);
    }


}