@font-face {
    font-family: 'phudublack';
    src:url('../fonts/Phudu-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    --red: #7D1100;
    --blue: #0E1147;
    --beige: #F4E6BD;
    --light-blue: #3E416C;
    --dark-red: #5E0D00;

    --background-color: var(--beige);
    --foreground-color: var(--red);
    --accent-color-1: var(--dark-red);
    --accent-color-2: var(--blue);
    --accent-color-3: var(--light-blue);

    --font-regular: 'Poppins';
    --font-bold: 'phudublack', 'Poppins';

    --rhythm: 2rem;

}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-regular);

    display: grid;
    grid-template-columns: 1rem repeat(5, 1fr) 1rem;
    grid-template-rows: repeat(2, 5rem) repeat(8, auto) 2rem;
    grid-column-gap: 1rem;

}


header {
    background-color: var(--foreground-color);
    color: var(--background-color);

    grid-area: 1 / 1 / span 2 / span 7;

    display: grid;
    grid-template-rows: 56px 1fr 1fr;
    grid-template-columns: 1rem repeat(4, 1fr) 1rem;
    grid-column-gap: 1rem;
}


nav {
    grid-column: 1/span 6;
    display: flex;
    margin-right: 1.5rem;
    justify-content: end;
    align-items: center;
}

a.hamb div {
    height: 4px;
    width: 27px;
    background-color: var(--background-color);
    margin: 3px 0;
}

.navbar {
    display: none;
}

button {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

/* header button {
    height: 4px;
    width: 27px;
    background-color: var(--background-color);
    margin: 3px 0x;

    header button.btn_menu div:first-of-type {
        transform: rotate(45deg);
    }
} */

.menu {
    z-index: 30;
    background-color: black;
}

strong {
    font-family: var(--font-bold);
    font-size: 2.75rem;
    align-self: center;
    grid-column: 2/span 4;
    text-align: center;
}

/* main  */

.card {
    grid-column: 2/ span 5;
}

.card + .card {
    margin: 2rem 0;
}

.card:first-of-type {
    margin-top: 1rem;
}

.card div.img {
    border: 2px solid red;
    aspect-ratio: 4/3;
    overflow: hidden;
    position: relative;

    img {
        height: fit-content;
    }

}

.content-desktop {
    display: none;
}

.tag {
    border: 1px solid black;
    border-radius: 20px;
    display: inline;
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
}

h3 {
    margin: 1rem 0;
}


@media screen and (min-width: 700px) {
    body {
        display: grid;
        grid-template-columns: 2rem repeat(6, 1fr) 2rem;
        /* grid-template-rows: repeat(4, 5rem) auto auto auto auto auto 2rem; */
        grid-column-gap: 2rem;
    }

    header {
        grid-area: 1 / 1 / span 4/ span 8;
        grid-template-columns: 2rem repeat(6, 1fr) 2rem;
        grid-template-rows: 96px auto auto;
        grid-column-gap: 2rem;

        background-color: var(--foreground-color);
    }

    nav {
        grid-column: 1/span 8;
        margin-right: 4rem;
    }

    strong {
        grid-column: 2/ span 5;
        font-size: 5rem;
    }

    .pic {
        grid-column: 6/8;
        grid-row: 3/7;
    }

    .intro {
        font-size: 1.25rem;
        grid-column-end: span 4;
    }

    h2 {
        font-size: 3rem;
        grid-row: 5/6;
        grid-column: 2/span 4;
    }

}


@media screen and (min-width: 1000px) {
    body {
        grid-template-columns: 7rem repeat(12, 1fr) 7rem;
        grid-template-rows: repeat(4, 8rem) repeat(8, auto) 2rem;
        grid-column-gap: 2rem;
    }

    header {
        grid-column-end: span 14;
        grid-template-rows: 96px;

        grid-template-columns: 7rem repeat(12, 1fr) 7rem;
    }
    
    strong {
        font-size: 8rem;
        grid-column-start: 3;
    }

    .hamb {
        display: none;
    }

    .navbar {
        display: contents;
    }

    nav {
        grid-column: 1/span 14;
        margin-right: 7rem;
    }

    strong {
        grid-column-end: 15;
        text-shadow: 9px 0px var(--accent-color-1);
    }

    .intro {
        grid-column: 3/10;
        
    }

}

