@font-face {
    font-family: 'phudublack';
    src:url('../fonts/Phudu-Black.woff') format('woff');
}

@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');

}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/poppins-bold-webfont.woff') format('woff'),
        url('../fonts/poppins-bold-webfont.woff2') format('woff2');
}

html {
    --red: #7D1100;
    --blue: #0E1147;
    --beige: #F4E6BD;
    --light-blue: #3E416C;
    --dark-red: #5E0D00;
    --white: #dad5c6;
    --beige-2: #fff4ce;

    --background-color: var(--beige);
    --foreground-color: var(--red);
    --accent-color-1: var(--dark-red);
    --accent-color-2: var(--blue);
    --accent-color-3: var(--light-blue);

    --font-light: 'poppinslight';
    --font-regular: 'poppinsregular';
    --font-bold: 'poppins-bold';
    --font-phudu-bold: 'phudublack', var(--font-regular);

    --rhythm: 2rem;

}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--beige-2);
    font-family: var(--font-regular);

    display: grid;
    grid-template-columns: 1rem repeat(5, 1fr) 1rem;
    grid-template-rows: 5rem repeat(9, auto) 2rem;
    grid-column-gap: 1rem;

}

header {
    /* background-color: var(--foreground-color); */
    color: var(--background-color);

    grid-area: 1 / 1 / span 2 / span 7;

    display: grid;
    grid-template-rows: 56px 1fr;
    grid-template-columns: 1rem repeat(4, 1fr) 1rem;
    grid-column-gap: 1rem;
}

/* nav bar and menu */
nav {
    grid-column: 1/span 6;
    display: flex;
    margin-right: 1.5rem;
    justify-content: end;
    align-items: center;
}

.btn_menu div {
    height: 5px;
    width: 35px;
    /* background-color: var(--background-color); */
    background: var(--foreground-color);
    margin: 3px 0;
    transition: 0.3s;
}

button {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    z-index: 60;
}

.btn_menu.change {

    .bar1 {
        transform: translate(0, 9px) rotate(-45deg);
        background-color: var(--background-color);
    }
    
    .bar2 {opacity: 0;}
    
    .bar3 {
        transform: translate(0, -7px) rotate(45deg);
        background-color: var(--background-color);
    }
}

.navbar {
    display: none;
}


.menu {
    background-color: var(--foreground-color);
    grid-column: 1/8;
    grid-row-start: 1;
    text-align: center;
    font-family: var(--font-phudu-bold);
    position: fixed;
    width: 100vw;

    transform: translateX(100vw);
    transition: transform 225ms ease-in-out;
    z-index: 50;
    right: 0;
    top: 0;
    height: 100vh;

    ul {
        margin: 0;
        padding: 0;
        height: 100%;
        /* transform: translateY(-56px); */
        
        display: flex;
        flex-direction: column;
        font-size: 3rem;
        justify-content: center;

    }

    ul li {
        list-style-type: none;
        margin: 1rem 0;

        a {
            text-decoration: none;
            color: var(--background-color);
        }

        a:active {
            text-decoration: underline;
        }

        a:visited {
            color: var(--background-color);
        }
    }
}


.menu.open {
    /* opacity: 1; */
    transform: none;
}


/* title */
h1 {
    font-family: var(--font-phudu-bold);
    font-size: 2.75rem;
    align-self: center;
    grid-column: 2/span 4;
    grid-row: 2/3;
    /* text-shadow: 9px 0px var(--accent-color-1); */
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: var(--foreground-color);
}

.hero {
    grid-column: 2/7;
}

.hero-image {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
    }
}




/* main content */

.des {
    text-align: center;
    font-family: var(--font-bold);
    color: var(--foreground-color);

}

main {
    grid-column: 2/7;
    grid-row-start: 4;

    font-family: var(--font-light);

}

h3 {
    font-family: var(--font-phudu-bold);
    color: var(--foreground-color);
    font-size: 1.9rem;

    text-align: center;
}

strong{
    color: var(--dark-red);
    font-family: var(--font-bold) ;
    margin-top: 10rem;
}


p, main ul {
    line-height: 2rem;
}

li::marker {
    color: var(--dark-red);
}


.overview {
    background-color: var(--foreground-color);
    padding: 0.5rem 1rem;
    color: var(--background-color);
    /* margin: 0.5rem 0; */
    border-radius: 1rem;
    padding: 2rem 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    
    strong {
        color: var(--background-color);
    }

}

.detail, .goal {
    border-bottom: 1px solid var(--background-color);
}

.detail:last-child {
    border-bottom: none;
}

.three-column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 1rem;
    gap: 1rem;

    div {
        margin: 0 auto;
        text-align: center;
        width: 70%;
    }

    img{
        width: 100px;
        height: 100px;
    }
}

.two-column {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    div {
        width: 100%;
    }

    img {
        width: 100%;
        border: 3px solid var(--accent-color-1);
        border-radius: 15px;
        box-shadow: 5px 5px var(--accent-color-1);
    }
}

.step {
    /* background-color: var(--foreground-color); */
    padding: 1rem;
    color: var(--foreground-color);
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.insight {
    border: 4px solid var(--foreground-color);
    padding: 2rem;
    border-radius: 1rem;
}

.process-container {
    
    /* grid-template-columns: repeat(5, 1fr); */

    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;

    strong, ul li, li::marker {
        color: var(--background-color);
    }


    .card {
        /* border: 1px solid black; */
        padding: 1.5rem 1rem;
        background-color: var(--foreground-color);
        border-radius: 1rem;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
}



.pic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 1rem 0;
    margin-bottom: 3rem;


    img {
        margin-top: 1rem;
        border: 3px solid var(--accent-color-1);
        border-radius: 15px;
        box-shadow: 5px 5px var(--accent-color-1);
        width: 100%;
    }

    p{
        font-size: 0.8rem;
        text-align: center;
        margin: 0;
    }
}

img {
    width: 80%;

}

.live-link {
    text-align: center;
    margin: 2rem 0;
}

.live-link a{
    color: var(--dark-red);
    text-decoration: none;
    border: 1px solid var(--dark-red);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 30px;

    text-align: center;
}

.live-link a:hover {
    background-color: var(--foreground-color);
    color: var(--background-color);
    transition: all 0.3s;
}

.live-link a:active {
    color: var(--dark-red);
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--dark-red);
    margin-top: 5rem;
}



/* footer */
footer {
    font-family: var(--font-phudu-bold);
    font-size: 3rem;
    color: var(--foreground-color);

    grid-row-start: 8;
    grid-column: 2/span 5;

    display: grid;
    /* justify-items: center; */

    p {
        /* margin: 2rem 0 1rem 0; */
        text-align: center;
    }

    ul {
        justify-content: center;
    }
}

.social-icon {
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}

.social-icon a {
    text-decoration: none;

    img {
        width: 43px;
    }
}


.social {
    display: none;
}


@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 2rem repeat(6, 1fr) 2rem;
        /* grid-template-rows: repeat(4, 5rem) auto auto auto auto auto 2rem; */
        grid-column-gap: 2rem;
    }

    header {
        grid-area: 1 / 1 / span 2/ span 8;
        grid-template-columns: 2rem repeat(6, 1fr) 2rem;
        grid-template-rows: 96px auto auto;
        grid-column-gap: 2rem;

        /* background-color: var(--foreground-color); */
    }

    /* nav bar */
    nav {
        grid-column: 1/span 8;
        margin-right: 4rem;
    }

    .btn_menu {
        display: none;
    }

    .navbar {
        display: block;
    }

    .navbar ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;

        font-weight: 500;
        font-size: 1.5rem;
        font-family: var(--font-phudu-bold);
    }

    .navbar ul li {
        margin: 0 2rem;
    }

    .navbar ul li a:visited{
        color: var(--foreground-color);
    }

    .navbar ul li a {
        padding: 0.5rem;
        color: var(--foreground-color);
        text-decoration: none;
        border: 3px solid transparent;
        /* transition: ease-in-out 0.2s; */
    }

    .navbar ul li a:active {
        text-decoration: underline;
    }


    .menu {
        display: none;
    }

    /* title */

    h1 {
        grid-column: 2/ span 6;
        color: var(--foreground-color);
    }

    /* hero section */
    .hero {
        grid-column-end: span 6;

        display: flex;

        margin-top: 2rem;
    }

    /* main content */

    main {
        grid-column-end: span 6;
        
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;

        align-items: flex-start;

    }

    .overview {
        display: grid;
        grid-template-columns: 2fr 1fr;

        .goal {
            padding: 1rem;
            border-right: 1px solid var(--beige);
            border-bottom: none;
            height: 100%;
        }


    }

    .detail {
        padding-left: 1rem;
    }

    .three-column {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        div {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }

        img {
            width: 100px;
            margin: 0 auto;
        }
    }

    .two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .process-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .pic {
        img {
            width: 70%;
        }
    }

    
    /* footer */


    footer {
        grid-column: 2/ span 6;
        font-size: 6rem;
        grid-column: 2/8;
        grid-row-start: 10;

    }

    .social-icon {
        display: none;
    }

    .social {
        display: block;
    }

    .social ul {
        padding: 3rem 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        overflow: auto;


    }

    .social ul li{
        list-style-type: none;
        font-size: 1.25rem;
        margin: 0 1.5rem;

    }

    .social ul li a {
        text-decoration: none;
        color: var(--foreground-color);
    }
}


@media screen and (min-width: 1200px) {
    body {
        grid-template-columns: 7rem repeat(12, 1fr) 7rem;
        grid-template-rows:  repeat(10, auto) 2rem;
        grid-column-gap: 2rem;
    }

    header {
        grid-column-end: span 14;
        grid-row-end: 3;

        grid-template-rows: 96px;
        grid-template-columns: 7rem repeat(12, 1fr) 7rem;

    }
    
    /* h1 {
        font-size: 6rem;
        grid-column: 3/13;
    } */

    button.btn_menu {
        display: none;
    }

    .navbar {
        display: contents;
    }

    nav {
        grid-column: 1/span 14;
        margin-right: 7rem;
    }

    .navbar ul li a:hover {
        /* border: 3px solid var(--foreground-color); */
        /* text-shadow: 5px 5px var(--accent-color-1); */
        position: relative;
        right: 3px;
        bottom: 3px;
        transition: all 0.8s;
    }

    .navbar ul li a:active{
        text-decoration: none;
    }


    /* hero section */
    .hero {
        grid-column: 3/13;

        .hero-image {
            padding: 1rem;
        }
    }

    /* main content */

    main {
        grid-column: 3/13;

        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;

        justify-content: center;

        h3 {
            color: var(--foreground-color);
            font-family: var(--font-phudu-bold);
            /* margin-top: 2rem; */
        }
    }

    .process-container {
        grid-template-columns: repeat(5, 1fr);

        .card {
            transition: transform 0.2s ease;
        }

        .card:hover {
            transform: scale(1.05);
        }
    }

    /* footer */
    
    footer {
        grid-column: 2/14;
        grid-template-columns: 3fr 2fr;

        align-items: center;

        margin-top: 2rem;
        
        p {
            font-size: 7rem;
            margin: 0;
            text-align: left;
            line-height: 6rem;
        }
    }

    .social ul {
        align-items: center;
    }

    .social ul li a {
        padding: 0.5rem;
        border: 3px solid transparent;
        transition: ease-in .3s;
    }

    .social ul li a:hover {
        border-bottom: 3px solid var(--foreground-color);
    }


}


